	body{
		margin: 0px;
		padding: 0px;
	}
	#d1{
		margin-top: 20px;
		margin-bottom: 20px;
	}
	ul{
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		background-color: #333;
	}
	li{
		float: left;
	}
	li a, .dropbtn{
		display: inline-block;
		color: white;
		text-align: center;
		padding: 16px 30px;
		text-decoration: none;
	}
	li a:hover, .dropdown:hover .dropbtn{
		background-color: #f2f2f2;
		color: #333;
	}
	li.dropdown{
		display: inline-block;
	}
	.dropdown-content{
		display: none;
		position: absolute;
		background-color: #333;
		z-index: 1;
		border-bottom-left-radius: 25px;
		border-bottom-right-radius: 25px;
	}
	.dropdown-content a{
		color: white;
		padding: 16px 30px;
		text-decoration: none;
		display: block;
		text-align: left;
	}
	.dropdown-content a:hover{
		background-color: red;
		color: white;
	}
	.dropdown:hover .dropdown-content{
		display: block;
	}
	#footer{
		text-align: center;
		color: #333;
		margin-top: 20px;
		margin-bottom: 20px;
		font-family: "arial"; 
	}
	.home:hover{
		background-color: red;
		color: white;
	}
	.whatsapp:hover, .photogallery:hover{
		border-bottom-right-radius: 25px;
		border-bottom-left-radius: 25px;
	}